<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'About',
  data: () => ({
    films: [],
    currentFilm: {},
    currentSession: {}
  }),
  computed: {
    ...mapGetters([
      'getAllFilms',
      'getCurrentFilmSession',
    ]),
  },
  methods: {
    ...mapActions([
      'getFilmSessionById',
    ]),    
  },
  watch: {
    getAllFilms: {
      async handler(newVal){
        this.films = newVal.data;
        if(this.films.length > 0) {
          this.films.forEach((film) => {
            if(film.id == this.$route.params.id) {
              this.currentFilm = { ...film };
              this.getFilmSessionById(film.id);
            }
          })
        }
      },
      immediate: true
    },
    getCurrentFilmSession: {
      async handler(newVal) {
        this.currentSession = newVal.data;
        console.log('currentSession', this.currentSession);
      },
      immediate: true
    },
  },
  created() {
    // console.log('choosedFilm', this.findFilm)
  },
}
</script>

<template>
  <section class="about-layout">
    <div class="about-layout__film-wrapper">
      <div class="about-layout__film-info">
        <figure>
          <img :src="currentFilm.image" alt="cinema img" />
          <figcaption>{{ currentFilm.name }}</figcaption>
        </figure>
        <ul>
          <li v-for="(session, session_key) in currentSession[currentFilm.id]" :key="session_key">
            {{ session.showdate }}
            <br>
            {{ session.daytime }}
          </li>
        </ul>
      </div>
      <div class="about-layout__film-description" v-html="currentFilm.additional" />
      <div class="about-layout__film-description" v-html="currentFilm.description" />
    </div>
  </section>
</template>

<style lang="scss" scoped>

.about-layout {
  &__film-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__film-info {
    border: 5px solid transparent;
    border-image-source: linear-gradient(to top, red, yellow);
    img {
      height: 344px;
      width: 233px;
    }
    figcaption {
      text-transform: uppercase;
    }
  }
}
</style>
