<script>
import { mapGetters } from 'vuex';
import AllFilmsLayout from '@/components/AllFilmsLayout.vue';
import Searcher from '@/components/Searcher.vue';


export default {
  name: 'Home',
  data: () => ({
    films: [],
    sessions: [],
  }),
  components: {
    Searcher,
    AllFilmsLayout
  },
  computed: {
    ...mapGetters([
      'getAllFilms',
      'getAllSessions'
    ]),
  },
  methods: {
    initAllFilms() {
      this.$store.dispatch("getAllFilms");
      this.$store.dispatch("getAllSessions");
    },
  },
  watch: {
    getAllFilms: {
      handler(newVal){
        this.films = newVal
      },
      immediate: true
    },
    getAllSessions: {
      handler(newVal){
        this.sessions = newVal
      },
      immediate: true
    }
  },
  created(){
    this.initAllFilms();
  },
}
</script>

<template>
  <div class="home">
    <Searcher />
    <AllFilmsLayout 
      v-if="!!films && !!films.data" 
      :data="films.data" 
      :sessions="sessions.data"
    />
  </div>
</template>

<style>
  .home{}
</style>