<script>
import { mapGetters } from 'vuex';
import AllSessionsLayout from '@/components/AllSessionsLayout.vue';

export default {
  name: 'Sessions',
  data: () => ({
    sessions: [],
  }),
  components: {
    AllSessionsLayout
  },
  computed: {
    ...mapGetters([
      'getAllSessions',
    ]),
  },
  methods: {
    initAllFilms() {
      this.$store.dispatch("getAllSessions");
    },
  },
  watch: {
    getAllSessions: {
      handler(newVal){
        this.sessions = newVal;
        console.log('sessions', this.sessions);
      },
      immediate: true
    }
  },
  created(){
    this.initAllFilms();
  },
}
</script>

<template>
  <div class="sessions">
    <AllSessionsLayout v-if="!!films && !!films.data" :data="films.data"/>
  </div>
</template>

<style>
</style>