<template>
  <section class="container">
    <div class="films-layout">
      <div class="films-layout__film-wrapper" v-for="(film, film_id) in data" :key="film_id">
        <router-link :to="`/films/${film.id}`">
          <figure class="films-layout__film-info">
            <img :src="film.image" alt="cinema img" />
            <figcaption>{{ film.name }}</figcaption>
          </figure>
          <ul v-if="!!sessions">
            <li v-for="(session, session_key) in sessions[film.id]" :key="session_key">
              <div>{{ session.showdate }}</div>
              <div>{{ session.daytime }}</div>                
            </li>
          </ul>
        </router-link>        
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AllFilmsLayout',
  props: {
    data: {
      type: [Array, Object],
      required: true
    },
    sessions: {
      type: [Array, Object],
      required: true
    }
  },
  created(){
    // console.log('data', this.data);
  }
}
</script>

<style scoped lang="scss">
  .films-layout {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px 15px;
    // &__film-wrapper {}
    &__film-info {
      img {
        height: 344px;
        width: 233px;
      }
    }
  }
</style>
