<template>
  <section class="searcher container">
    <div>
      <input class="searcher-input" v-model="searcher" type="search" placeholder="Search movie" />
      <button class="searcher-button" @click="findMatches">Search</button>      
    </div>
    <div>
      <span>Genre: </span>
      <select v-model="selectedGenre" name="select">
        <option v-for="(genre, genre_key) in genres" :key="genre_key" :value="genre_key">{{ genre }}</option>
      </select>
    </div>
    <ul v-if="searchResult.length">
      <li v-for="(item, item_key) in searchResult" :key="item_key">
        {{ item.name }}
      </li>
    </ul>
    <p v-else>Нет совпадений</p>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: '',
  data: () => ({  
    searcher: '',
    searchResult: [],
    selectedGenre: 0,
    genreResult: [],
    genres: [
      'ACTION',
      'ADVENTURES',
      'COMEDY',
      'DRAMA',
      'HORROR',
      'WESTERNS',
    ]
  }),
  computed: {
    ...mapGetters([
      'getAllFilms',
    ]),
  },
  watch: {
    selectedGenre: {
      handler(newVal){
        this.searchResult = this.getAllFilms.data.filter(el => el.genre === newVal);
      }
    }
  },
  methods: {
    ...mapActions([
      'getFilmsByGenre',
    ]), 
    findMatches() {
      this.searchResult = this.getAllFilms.data.filter(el => el.name.toLowerCase().includes(this.searcher.toLowerCase()));
    },
  },
}
</script>

<style lang="scss" scoped>
  .seracher {
    .searcher-button {}
    .searcher-input {}
  }
</style>