<script>
  export default {
    name: 'app',
  }
</script>


<template>
  <div class="container" id="nav">
    <router-link to="/">Фильмы</router-link>
    <!-- <router-link to="/sessions">Сеансы</router-link>     -->
  </div>
  <router-view/>
</template>

<style lang="scss">
  @import "./global.scss";
</style>
