#app {
  padding: 0;
  min-height: 99vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #e9ecef;
  background-image: url('assets/background_main_center.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p, body {
  padding: 0;
  margin: 0;
}
.container {
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
}